<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="/" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Dashboards</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-layout"></i>
                        <span key="t-layouts">Cadastros</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a class="collapse-item" href="/funcionarios">
                                <span>Funcionarios</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/administradores">
                                <span>Administradores</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/alojamentos">
                                <span>Alojamentos</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/centrodecustos">
                                <span>Centro de custos</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/companhiaaereas">
                                <span>Companhia aéreas</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/departamentos">
                                <span>Departamentos</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/itinerarios">
                                <span>Itinerarios</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/classes">
                                <span>Classes</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/estadoDaViagens">
                                <span>EstadoDaViagens</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/Fornecedores">
                                <span>Fornecedores</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/Motivos">
                                <span>Motivos</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/Sites">
                                <span>Sites</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/TipoDeBilhetes">
                                <span>TipoDeBilhetes</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/Entidades">
                                <span>Entidades</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/Profissoes">
                                <span>Profissoes</span>
                            </a>
                        </li>
                        <li>
                            <a class="collapse-item" href="/SituacaoViagens">
                                <span>SituacaoViagens</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-title" key="t-apps">Travel</li>

                <li>
                    <a class="waves-effect" href="/Processos">
                        <i class="bx bx-file"></i>
                        <span>Processos</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="/viagens">
                        <i class="bx bx-calendar"></i>
                        <span>Viagens</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->