<!DOCTYPE html>
<html lang="en">

<head>

    <partial name="_title_meta"/>
    <partial name="_head_css"/>

</head>

<body data-sidebar="dark" data-sidebar-size="small">

    <!-- Begin page -->
    <div id="layout-wrapper">
        <partial name="_topbar"/>
        <partial name="_sidebar"/>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <partial name="_page_title"/>

                    @RenderBody()
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <partial name="_footer"/>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <partial name="_right_sidebar"/>

    <partial name="_vendor_scripts"/>

    @RenderSection("scripts", required: false)


</body>

</html>
