@model smk_travel.Models.Funcionario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoId" class="control-label">Departamento</label>
                <select asp-for="DepartamentoId" class ="form-control" asp-items="ViewBag.DepartamentoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CentroDeCustoId" class="control-label">Centro de custo</label>
                <select asp-for="CentroDeCustoId" class ="form-control" asp-items="ViewBag.CentroDeCustoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EntidadeId" class="control-label">Entidade</label>
                <select asp-for="EntidadeId" class ="form-control" asp-items="ViewBag.EntidadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProfissaoId" class="control-label">Profissão</label>
                <select asp-for="ProfissaoId" class ="form-control" asp-items="ViewBag.ProfissaoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

