@model smk_travel.Models.Funcionario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoId" class="control-label"></label>
                <select asp-for="DepartamentoId" class="form-control" asp-items="ViewBag.DepartamentoId"></select>
                <span asp-validation-for="DepartamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CentroDeCustoId" class="control-label"></label>
                <select asp-for="CentroDeCustoId" class="form-control" asp-items="ViewBag.CentroDeCustoId"></select>
                <span asp-validation-for="CentroDeCustoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntidadeId" class="control-label"></label>
                <select asp-for="EntidadeId" class="form-control" asp-items="ViewBag.EntidadeId"></select>
                <span asp-validation-for="EntidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfissaoId" class="control-label"></label>
                <select asp-for="ProfissaoId" class="form-control" asp-items="ViewBag.ProfissaoId"></select>
                <span asp-validation-for="ProfissaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bi" class="control-label"></label>
                <input asp-for="Bi" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

