@model IEnumerable<smk_travel.Models.ArquivoDeFuncionario>

@{
    var funcionario = (Funcionario)ViewData["Funcionario"];
    ViewData["Title"] = "Arquivos do " + funcionario.Nome;
}

<h1>Arquivos do @funcionario.Nome</h1>
<hr>
<p>
    <a href="/funcionarios/@funcionario.Id/ArquivoDeFuncionarios/Create" class="btn btn-primary">Novo</a>
</p>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Arquivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Arquivo)" target="_blank">
                    @Html.DisplayFor(modelItem => item.Arquivo)
                </a>
            </td>
            <td>
                <a href="/funcionarios/@funcionario.Id/ArquivoDeFuncionarios/Delete/@item.Id" >Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
